h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

h5 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: rgb(240,240,240);
}

.footer {
	text-align: center;
	color: rgb(128,128,128);
}

#canvas-container {
	width: 100%;
	text-align: center;
}

#myCanvas {
	display: inline;
	cursor: pointer;
}

#button-container {
	width: 100%;
	text-align: center;
}

#load-button-container {
	width: 100%;
	text-align: center;
}

.button {
	background-color: white;
	color: black;
	border: 2px solid #008CBA;
	text-align: center;
	padding: 16px 32px; 
	text-decoration: none;
	display: inlince-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button-paused {
	background-color: #008CBA;
}

.button:hover {
	background-color: #008CBA;
    color: white;	
}


.generation-container {
	width: 100%;
	text-align: center;
}

/* SLIDER  https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
  text-align: center;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 50%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 4px;
  margin-top: 25px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #008CBA; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 4px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 4px;
}



/* Custom Radio Buttons https://codepen.io/Metty/pen/MWjOavR*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');
.wrapper{
  display: inline-flex;
  background: #fff;
  height: 100px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}